@{
    ViewData["Title"] = "歡迎";
}

<!DOCTYPE html>
<html lang="zh-TW">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
	</head>

	<body>			
        <div class="container"><!--內容-->
            <div class="row mx-0 align-items-center justify-content-center w-100">
                <div class="col-12">
                    <div id="SetRulePage">

                        <ul class="nav nav-tabs justify-content-end" group="table">                         
                            <span style="width:30px;"></span>
                            <li class="nav-item">
                                <a class='nav-link @(@ViewBag.Page=="timeRule"?"active":"")' href="#" name="timeRule" onclick="showSetRulePage('timeRule');">上班時間設定</a>
                            </li>
                            <li class="nav-item">
                                <a class='nav-link @(@ViewBag.Page=="specialDate"?"active":"")' href="#" name="specialDate" onclick="showSetRulePage('specialDate');">特殊日期設定</a>
                            </li>
                            <li class="nav-item">
                                <a class='nav-link @(@ViewBag.Page=="leaveTimeRule"?"active":"")' href="#" name="leaveTimeRule" onclick="showSetRulePage('leaveTimeRule');">請假時間設定</a>
                            </li>
                            <li class="nav-item">
                                <a class='nav-link @(@ViewBag.Page=="annualLeave"?"active":"")' href="#" name="annualLeave" onclick="showSetRulePage('annualLeave');">特休天數設定</a>
                            </li>
                            <li class="nav-item">
                                <a class='nav-link @(@ViewBag.Page=="groupRule"?"active":"")' href="#" name="groupRule" onclick="showSetRulePage('groupRule');">動作權限設定</a>
                            </li>
                        </ul>

                        @if(ViewBag.Page=="timeRule")
                        {
                            <div id="timeRuleDiv">
                                <table class="table table-hover table-bordered allTimeRule_table">
                                    <thead class="thead-dark" >
                                        <tr>
                                            <th scope="col">班別名稱</th>
                                            <th scope="col">上班時間</th>
                                            <th scope="col">下班時間</th>
                                            <th scope="col">開始休息時間</th> 
                                            <th scope="col">結束休息時間</th>
                                            <th scope="col">管理動作</th>
                                        </tr>
                                    </thead> 
                                    <tbody id="timeRuleList">
                                    </tbody>
                                </table>
                                <a href="javascript:void(0);" class="btn btn-primary btnActive add_timeRule" style="float:right" onclick="showAddTimeRuleRow();">新增規則</a>   
                            </div> 
                        }
                        else if(@ViewBag.Page == "specialDate")
                        {
                            <div id="specialDateDiv">
                                <table class="table table-hover table-bordered specialDate_table">
                                    <thead class="thead-dark" >
                                        <tr>
                                            <th scope="col">日期</th>
                                            <th scope="col">部門班別</th>
                                            <th scope="col">狀態</th>
                                            <th scope="col">備註</th>
                                            <th scope="col">管理動作</th>
                                        </tr>
                                    </thead> 
                                    <tbody id="specialDateList">
                                    </tbody>
                                </table>
                                <a href="javascript:void(0);" class="btn btn-primary btnActive add_spDate" style="float:right" onclick="showAddSpDateRow();">新增日期</a>   
                            </div>
                        } 
                        else if(@ViewBag.Page == "leaveTimeRule")
                        {
                            <div id="leaveTimeDiv">
                                <table class="table table-hover table-bordered leave_table">
                                    <thead class="thead-dark" >
                                        <tr>
                                            <th scope="col">請假名稱</th>
                                            <th scope="col">請假時間單位</th>
                                            <th scope="col">管理動作</th>
                                        </tr>
                                    </thead> 
                                    <tbody id="leaveList">
                                    </tbody>
                                </table>
                                <a href="javascript:void(0);" class="btn btn-primary btnActive add_leave" style="float:right" onclick="showAddLeaveRow();">新增請假名稱</a>  
                            </div>
                        }
                        else if(@ViewBag.Page == "annualLeave")
                        {
                            <div id="annualLeaveDiv">
                                <table class="table table-hover table-bordered annualLeave_table">
                                    <thead class="thead-dark" >
                                        <tr>
                                            <th scope="col">年資</th>
                                            <th scope="col">特休天數</th>
                                            <th scope="col">緩衝天數</th>
                                            <th scope="col">管理動作</th>
                                        </tr>
                                    </thead> 
                                    <tbody id="spLeaveRuleList">
                                    </tbody>
                                </table>
                                <a href="javascript:void(0);" class="btn btn-primary btnActive add_spLeave" style="float:right" onclick="showAddSpLeaveRow();">新增特休規則</a>
                            </div>
                        }
                        else if(ViewBag.Page == "groupRule")
                        {
                            <div id="groupRuleDiv">
                                <table class="table table-hover table-bordered allGroup_table">
                                    <thead class="thead-dark" >
                                        <tr>
                                            <th scope="col">群組名稱</th>
                                            <th scope="col">動作權限</th>
                                            <th scope="col">管理動作</th>
                                        </tr>
                                    </thead> 
                                    <tbody id="groupList">
                                    </tbody>
                                </table>
                                <a href="javascript:void(0);" class="btn btn-primary btnActive add_group" style="float:right" onclick="showAddGroupRow();">新增群組</a>   
                            </div>
                        }

                    </div>
                </div>
            </div>		
        </div>	



        <div class="template">
            <table>
                @if(ViewBag.Page=="timeRule")
                {
                    <tr name="timeRuleRow">
                        <td scope="col" name="name"></td>
                        <td scope="col" name="startTime"></td>
                        <td scope="col" name="endTime"></td>
                        <td scope="col" name="sRestTime"></td>
                        <td scope="col" name="eRestTime"></td>
                        <td scope="col" width="20%">
                            <a href="javascript:void(0);" class="btn btn-primary edit_timeRule btnActive" >編輯</a>
                            <a href="javascript:void(0);" class="btn btn-danger del_timeRule btnActive" >刪除</a>
                        </td>
                    </tr>
                    <tr name="addTimeRuleRow">
                        <td scope="col" name="name">
                            <input type='text' name="newName" style='zoom:75%'>
                        </td>
                        <td scope="col" name="startTime">
                            <input type='time' name="newStartTime" style='zoom:75%'>
                        </td>
                        <td scope="col" name="endTime">
                            <input type='time' name="newEndTime" style='zoom:75%'>
                        </td>
                        <td scope="col" name="sRestTime"> 
                            <input type='time' name="newSRestTime" style='zoom:75%'>
                        </td>
                        <td scope="col" name="eRestTime"> 
                            <input type='time' name="newERestTime" style='zoom:75%'>
                        </td>

                        <td scope="col" width="20%">
                            <a href="javascript:void(0);" class="btn btn-primary create_timeRule" >新增</a>
                            <a href="javascript:void(0);" class="btn btn-primary update_timeRule" >更新</a>
                            <a href="javascript:void(0);" class="btn btn-danger cancel_timeRule" >取消</a>
                        </td>
                    </tr> 
                }
                else if(ViewBag.Page == "groupRule")
                {
                    <tr name="groupRow">
                        <td scope="col" name="groupName"></td>
                        <td scope="col" name="groupAuthority"></td>
                        <td scope="col" width="20%">
                            <a href="javascript:void(0);" class="btn btn-primary edit_group btnActive" >編輯</a>
                            <a href="javascript:void(0);" class="btn btn-danger del_group btnActive" >刪除</a>
                        </td>
                    </tr>
                    <tr name="addGroupRow">
                        <td scope="col" name="groupName">
                            <input type='text' name="newGroupName" style='zoom:75%'>
                        </td>
                        <td scope="col" name="newGroupAuthority"></td>
                        <td scope="col" width="20%">
                            <a href="javascript:void(0);" class="btn btn-primary create_group" >新增</a>
                            <a href="javascript:void(0);" class="btn btn-primary update_group" >更新</a>
                            <a href="javascript:void(0);" class="btn btn-danger cancel_group" >取消</a>
                        </td>
                    </tr> 
                }
                else if(@ViewBag.Page == "specialDate")
                {
                    <tr name="specialDateRow">
                        <td scope="col" name="date"></td>
                        <td scope="col" name="needClass"></td>
                        <input type="hidden" name="statusVal">
                        <td scope="col" name="status"></td>
                        <td scope="col" name="note"></td>
                        <td scope="col" width="20%">
                            <a href="javascript:void(0);" class="btn btn-primary edit_spDate btnActive" >編輯</a>
                            <a href="javascript:void(0);" class="btn btn-danger del_spDate btnActive" >刪除</a>
                        </td>
                    </tr>
                    <tr name="addSpecialDateRow">
                        <td scope="col" name="name">
                            <input type='date' name="newDate" style='zoom:75%'>
                        </td>
                        <td>
                            <select name="needClassVal">
                                <option value="全體">全體</option>
                            </select>
                        </td>
                        <td scope="col">
                            <select name="status">
                                <option value="">請選擇</option>
                                <option value="1">休假</option>
                                <option value="2">上班</option>
                            </select>
                        </td>
                        <td scope="col" name="note">
                            <input type='text' name="newNote" style='zoom:75%'>
                        </td>>
                        <td scope="col" width="20%">
                            <a href="javascript:void(0);" class="btn btn-primary create_spDate" >新增</a>
                            <a href="javascript:void(0);" class="btn btn-primary update_spDate" >更新</a>
                            <a href="javascript:void(0);" class="btn btn-danger cancel_spDate" >取消</a>
                        </td>
                    </tr> 
                }
                else if(@ViewBag.Page == "leaveTimeRule")
                {
                    <tr name="leaveRow">
                        <td scope="col" name="name"></td>
                        <td scope="col" name="timeUnit"></td>
                        <td scope="col">
                            <a href="javascript:void(0);" class="btn btn-primary edit_leave btnActive" >編輯</a>
                            <a href="javascript:void(0);" class="btn btn-danger del_leave btnActive" >刪除</a>
                        </td>
                    </tr>
                    <tr name="addLeaveRow">
                        <td scope="col" name="name">
                            <select name="newLeaveName">
                                @* <option value="公差">公差</option>
                                <option value="特休">特休</option>
                                <option value="事假">事假</option>
                                <option value="病假">病假</option>
                                <option value="公假">公假</option>
                                <option value="調休">調休</option>
                                <option value="喪假">喪假</option>
                                <option value="婚假">婚假</option>
                                <option value="產假">產假</option>
                                <option value="陪產假">陪產假</option>
                                <option value="其他">其他</option> *@
                            </select>
                        </td>
                        <td scope="col">
                            <select name="unit">
                                <option value="1">全天</option>
                                <option value="2">半天</option>
                                <option value="3">小時</option>
                            </select>
                        </td>
                        <td scope="col">
                            <a href="javascript:void(0);" class="btn btn-primary create_leave" >新增</a>
                            <a href="javascript:void(0);" class="btn btn-primary update_leave" >更新</a>
                            <a href="javascript:void(0);" class="btn btn-danger cancel_leave" >取消</a>
                        </td>
                    </tr> 
                }
                else if(@ViewBag.Page == "annualLeave")
                {
                    <tr name="spLeaveRow">
                        <td scope="col" name="years"></td>
                        <td scope="col" name="days"></td>
                        <td scope="col" name="buffDays"></td>
                        <td scope="col">
                            <a href="javascript:void(0);" class="btn btn-primary edit_spLeave btnActive" >編輯</a>
                            <a href="javascript:void(0);" class="btn btn-danger del_spLeave btnActive" >刪除</a>
                        </td>
                    </tr>
                    <tr name="addSpLeaveRow">
                        <td scope="col" name="name">
                            <select name="yearSel"></select>
                        </td>
                        <td scope="col" name="name">
                            <select name="daySel"></select>
                        </td>
                        <td scope="col">
                            <select name="buffDaySel"></select>
                        </td>
                        <td scope="col">
                            <a href="javascript:void(0);" class="btn btn-primary create_spLeave" >新增</a>
                            <a href="javascript:void(0);" class="btn btn-primary update_spLeave" >更新</a>
                            <a href="javascript:void(0);" class="btn btn-danger cancel_spLeave" >取消</a>
                        </td>
                    </tr> 
                }
            </table>
            
            @if(ViewBag.Page == "groupRule")
            {
                <div name="chkBox">
                    <label class="forChkBox"><input type="checkbox" name="punch" value="0x0001">基本功能</label>
                    <label class="forChkBox"><input type="checkbox" name="editEmployeePunchLog" value="0x0002">編輯員工出勤紀錄</label>
                    <label class="forChkBox"><input type="checkbox" name="applySign" value="0x0080">相關簽核</label>
                    <br/>
                    <label class="forChkBox"><input type="checkbox" name="departEmployeeList" value="0x0004">查看部門員工</label>
                    <label class="forChkBox"><input type="checkbox" name="allEmployeeList" value="0x0008">查看所有員工</label>
                    <label class="forChkBox"><input type="checkbox" name="allEmployeeEdit" value="0x0010">編輯員工</label>
                    <br/>
                    <label class="forChkBox"><input type="checkbox" name="department" value="0x0020">部門職位相關</label>
                    <label class="forChkBox"><input type="checkbox" name="setRule" value="0x0040">設定規則</label>
                    <label class="forChkBox"><input type="checkbox" name="adminFn" value="0x0100">管理功能</label>
                </div>
            }
        </div>



        @section Scripts{
            <script src="~/js/baseJS.js" type="text/javascript"></script>
            <script src="~/js/setRulePage.js" type="text/javascript"></script>	
        }         	
	 
	</body>
</html>
